//>  ████████████████████████████████████  1

.flex__container {

    display: flex;
    background-color: lightyellow;

}

.flex__item {

    border: 6px solid red;
    background-color: gray;
    width: 7.5vw;
    color: yellow;
    margin: 1vw;

    &--1 {
        height: 5vw;
    }

    &--2 {
        height: 10vw;
    }

    &--3 {
        height: 15vw;
    }

}



//>  ████████████████████████████████████  2