//>  ████████████████████████████████████  NAV

.nav__container {

    display: flex;
    background-color: yellow;

}

.nav__brand {

    border-style: solid;
    border-color: green;

}

.nav__ul {
    display: flex;
    list-style-type: none;
    border-style: solid;
    border-color: green;
    justify-content: center;

}

.nav__li {}

.nav__li--home {}

.nav__li--pricing {}

.nav__li--about {}

.nav__li--contact {}

//>  ████████████████████████████████████  DIV TEMP

.flex__container {

    display: flex;
    background-color: red;
    justify-content: space-between;
    align-items: stretch;


}

.flex__brand {
    height: 8vw;
    display: flex;
    border-style: solid;
    border-color: green;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;

}

.flex__ul {
    display: flex;
    align-items: center;
    /* Center the list items vertically */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    height: 100%;
    border-style: solid;
    border-color: green;
    align-items: stretch;


    // justify-content: space-between;

}

.flex__li {}

.flex__li--home {}

.flex__li--pricing {}

.flex__li--about {}

.flex__li--contact {}

//>  ████████████████████████████████████  NAV2

.nav2__container {

    display: flex;
    background-color: red;
    justify-content: space-between;
    align-items: stretch;
    height: 8vw;


}

.nav2__brand {
    height: 8vw;
    display: flex;
    border-style: solid;
    border-color: green;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;

}

.nav2 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    border-style: solid;
    border-color: green;
    flex-direction: row;
    width: 60vw;
    justify-content: space-between;


    // justify-content: space-between;

}

.nav2__item {
    display: flex;
    align-items: center; 
    height: 100%; 
    padding: 0 1vw;
}

.nav2--home {
    height: 100%;
}

.nav2--pricing {
    height: 100%;
}

.nav2--about {
    height: 100%;
}

.nav2--contact {
    height: 100%;
}


//_  ████████████████████████████████████  768

@media (min-width: 768px) {}


//_  ████████████████████████████████████  1024


@media (min-width: 1024px) {}