

.grid__container {



}

.grid__item {

border: var(--border-m) solid var(--coolGrey700);
background-color: var(--coolGrey300);
color: var(--coolGrey900);

}

.grid__item1 {



}

.grid__item2 {



}

.grid__item3 {



}